head
	title Street Scenes Crew
	meta(name="viewport" content="width=device-width initial-scale=1.0")
	meta(name="description" content="Friendly folk organise street meets")

	meta(property="og:title" content="Street Scenes" )
	meta(property="og:site_name" content="Street Scenes" )
	meta(property="og:url" content="http://www.streetscenes.org.uk" )
	meta(property="og:image" content="/images/streetscenes.png" )
	meta(property="og:image:type" content="image/png" )
	meta(property="og:image:width" content="64" )
	meta(property="og:image:height" content="63" )
	meta(property="og:type" content="website" )
	meta(property="og:description" content="Street Scenes")
	link(rel="stylesheet" type="text/css" href="/style.css")

	link(rel="icon" type="image/png" href="http://www.streetscenes.org.uk.s3.amazonaws.com/crew-images/favicon.png")
	style
		!= '.sweet-alert {top:35%;} .sweet-alert h2 {font-size: 22px;}'
