template(name="home")
	.container#intro
		h1 Street Scenes Crew Site {{staging}}

		p 
			h3 Street Scenes require a crew of hosts

		img(src='https://s3-eu-west-1.amazonaws.com/www.streetscenes.org.uk/crew-images/homerton-18sept2013.jpg' class='image-right')

		p This site lets you set up a proposed Street Scenes event. Then we automatically send an email to others who might like to help you host it and provide entertainment.

		p When at least two people are fully committed to a given date, we publicly announce the event on the <a href="https://www.facebook.com/street.scenes.london">Street Scenes Facebook page</a> and <a href="http://www.twitter.com/street_scenes">Twitter</a>.
			
		p
			| Use this site to see what events are coming up, to commit to participating in an event, or
			a(href='/create') to propose one.
			| Just register quickly to use the site and receive updates about new events.


		if events
			h3 Events planned
			
			ul(id='event-listing')
				each events
					if isConfirmed
						a(href="{{pathFor 'event'}}")
							li(class='event-listing') {{name}} – {{eventdescription}} <br>* {{formatTime date}} – (Event confirmed)
					else
						a(href="{{pathFor 'event'}}")
							li(class='event-listing') {{name}} – {{eventdescription}}<br>* {{formatTime date}} – (Event unconfirmed)
		else
			h3 No events planned at the moment

		if username
			p
				a(href="/create")
					button.btn.btn-default Propose event