template(name="header")
	nav.navbar(role="navigation")
		.navbar-inner
			a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				img.logo(src="/images/streetscenes.png" width="130px" height="73px")
			ul.nav.navbar-nav.navbar-right
				li.username
					strong {{username}}
				li
					+atNavButton