body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Sans Serif
}
#footer {
	margin-top: 50px;
	padding: 20px;
	border-top: 3px solid #fcf4e7;
}
small {
	font-size: 0.9em;
}
.navbar {
	height: 100px;
}
.username {
	padding: 15px 20px 10px;
}
li.event-listing {
	margin-bottom: 12px;
}

ul#event-listing {
	margin-bottom: 30px;	
}

.navbar-btn {
	float: right;
	margin-right: 20px;
}

.image-right {
	float: right;
	margin: 0 0 20px 20px;
	width: 30%;
}


@media only screen and (max-device-width: 480px) {
.image-right {
	float: right;
	margin: 0 0 20px 20px;
	width: 50%;
}
}