template(name="userEmail")
	.col-md-6.col-md-offset-3
		with user
			div.at-form Please fill in the following to finish signing up
			form(role="form")
				if requireEmail
					.control-group
						label.control-label Email
						.controls
							input.form-control(name="email" type="text" value="{{profile.email}}")
				if requireName
					.control-group
						label.control-label Name
						.controls
							input.form-control(name="name" type="text" value="{{profile.name}}")
				.form-actions
					input.at-btn.submit.btn.btn-lg.btn-block.btn-default(type="submit" value="Submit")