<template name="createEvent">
  <h3>Use this form to propose a Street Scenes event.</h3>
  <p>When you do this, emails will be sent out to people who like taking part in Street Scenes. If they want to help you host the event, they will join. When three or more people join, the event is confirmed and publicised on Facebook.</p>
  <p>Please only propose an event if you are confident setting up a friendly meeting point, with some form of entertainment, on the street. <strong>Be absolutely sure that you are available to host it on that date.</strong></p>
  {{#autoForm collection="Events" id="createEventForm" type="insert"}}
    <fieldset>
      <legend>Propose an event</legend>
      {{> afQuickField name='name'}}
      {{> afQuickField name='location'}}
      {{> afQuickField name='date'}}
      <!-- {{> afQuickField name='endtime'}} -->
      {{> afQuickField name='eventlength' options=eventLength}}
      {{> afQuickField name='eventdescription'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Propose your event</button>
  {{/autoForm}}
</template>