template(name="eventEdit")
  if isConfirmed
    h2(class="event-listing") Event: {{name}} (Confirmed)
  else
    h2(class="event-listing") Event: {{name}} (Unconfirmed)
    p {{usersUntilCriticalMass}} more users needed before event is confirmed
  h3 Description: {{eventdescription}}
  h3 Date: {{formatTime date}}
  //- if endtime
    h3 End time: {{formatTime endtime}}
  if eventlength
    h3 Event length (minimum): {{eventlength}}
  h3 Location: {{location}}
  h3 Hosted by: {{hostName}}
  if crewNames
    h3 Crew: {{crewNames}}
  if currentUser
    if user_not_already_joined
      p 
        button.btn.btn-default#joinCrew  Join Crew