template(name="event")
  if isConfirmed
    h2(class="event-listing") Event: {{name}} (Confirmed)
  else
    h2(class="event-listing") Event: {{name}} (Unconfirmed)
    p {{usersUntilCriticalMass}} more users needed before event is confirmed
  //- if eventUpdated
    h3(class="event-updated") Please check the details carefully, this event's details were changed after it was created

  h3 Description: {{eventdescription}}
  h3 Date: {{formatTime date}}
  //- if endtime
    h3 End time: {{formatTime endtime}}
  if eventlength
    h3 Event length (minimum): {{eventlength}}
  h3 Location: {{location}}
  h3 Hosted by: {{hostName}}
  if crewNames
    h3 Crew: {{crewNames}}
  if currentUser
    if user_not_already_joined
      p 
        button.btn.btn-default#joinCrew  Join Crew

  //- Event creator: Edit this event&rarr