<template name="newEventEmail">
	<p style="font-size: 110%; font-family: 'Georgia', Serif;">Dear Street Scenes crew member,</p>
  	
  	<p style="font-size: 110%; font-family: 'Georgia', Serif; margin-bottom: 20px;">{{message}}</p>
  	
  	<p style="font-size: 110%; font-family: 'Georgia', Serif;">The event is called <strong>{{name}}</strong> and is set to be held on <strong>{{formatTime date}}</strong>.</p>
  	
  	<p style="font-size: 110%; font-family: 'Georgia', Serif;">The planned location is <strong>{{location}}</strong>.</p>

  	<p style="font-size: 110%; font-family: 'Georgia', Serif;"><a href="{{rootUrl}}events/{{url}}">Can you help? Have a look here...</a></p>
	
	<p style=" width: 100%;"><img src="https://s3-eu-west-1.amazonaws.com/www.streetscenes.org.uk/crew-images/autumn-leaves.jpg"></p>

	<p style="font-size: 110%; font-family: 'Georgia', Serif;">The event description says:</p>
  	
  	<p style="font-size: 110%; font-family: 'Georgia', Serif;">{{description}}</p><br>
	
	<p style="font-size: 120%; font-family: 'Georgia', Serif; margin-bottom: 20px;"><a href="{{rootUrl}}events/{{url}}"><strong>Get involved, help host this event here &rarr;</strong></a></p>
	
	<p style="font-size: 110%; font-family: 'Georgia', Serif;"><em>Street Scenes are made by people like you. Join us soon!</em><a href="https://crew.streetscenes.org.uk"><img src="https://s3-eu-west-1.amazonaws.com/www.streetscenes.org.uk/crew-images/streetscenes-logo-thumb.jpg" style="float: right;"></a></p>

	<p style="font-family: 'Georgia', Serif;"><br><br><a href="mailto:info@streetscenes.org.uk?subject=Unsubscribe-from-event-announcements" style="text-decoration: none;"><em><span style="color: #a8a28f; text-decoration: none;">Click here to unsubscribe from these emails&rarr;</span></em></a></p>
</template>